
.header-logo-title {
    width:1em;
    color:hsl(355, 95%, 61%);
   }
   
   .checkout {
       background-color: hsl(355, 95%, 61%);
       border-top: .4em solid hsl(46, 100%, 20%);
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
       padding: 5%;
       width: 90%;
   
       .desktop-two-columns {
           display: flex;
           flex-direction: column;
       }
   
       .checkout-form {
           display: flex;
           flex-direction: column;
           overflow: hidden;
   
           label {
               margin-left: .3rem;
               color: hsl(0, 0%, 100%);
           }
   
           input, select {
               margin: 1rem 0;
               width: 100%;
           }
   
           select {
               padding: .6rem;
           }
       }
       .checkout-table{
           color:white;
           
       }
       .checkout-payment {
           margin: 1rem;
   
           .checkout-payment-radio {
               margin: 1rem;
   
               .trolley-resume-table {
                   color: hsl(0, 0%, 100%);
               }
   
               input {
                   margin: 1rem;
               }
           }
   
           button {
               background: linear-gradient(to top, hsl(355, 68%, 60%), hsl(240, 9%, 23%));
               border: 2px solid hsl(0, 7%, 87%);
               border-radius: 10px;
               color: hsl(0, 0%, 100%);
               margin-top: 8%;
               padding: 10%;
               width: 100%;
           }
       }
   }