.check {
    margin: 5rem 5rem;
  }
  .check .check-title {
    margin: 5rem;
    text-align: center;
  }
  .check .checkout-form {
    width: 80%;
    margin: auto;
  }
  .check .pay {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
  }
  .check .pay .payment {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  .check .pay .payment table {
    border: 1px solid white;
  }
  .check .pay .payment table tr {
    color: white;
  }
  .check .pay .payment table tr th {
    padding: 1rem 0rem 1rem 0rem;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 1.15rem;
  }
  .check .pay .payment table tr td {
    padding: 1rem;
    font-weight: 600;
    font-size: 1.15rem;
  }
  .check .pay .pay-options div {
    padding-bottom: 2rem;
  }
  .check .pay .pay-options div label {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .check .pay .pay-button button {
    background: hsl(226deg, 63%, 45%);
    border-radius: 0.5rem;
    border: white 3px solid;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 2.5rem 1rem 2.5rem;
    transition: all 0.4s;
  }
  .check .pay .pay-button button:hover {
    background: #FF9A33;
    transition: 0.2s all;
  }