.contact {
    padding-bottom: 5rem;
    background: hsl(226deg, 63%, 45%);
  }
  .contact .contact-title {
    text-align: center;
  }
  .contact .contact-title h2 {
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .contact .contact-options {
    width: 85%;
    margin: auto;
    background: #2a70d5;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .contact .contact-options .contact-option {
    margin-bottom: 2rem;
  }
  .contact .contact-options .contact-option h3 {
    font-size: 1.5rem;
  }
  .contact .contact-options .contact-option h3 svg {
    width: 8%;
  }