.header-title{
padding-left: 5%;
margin-bottom: 1em;
text-align: center;
}
.trolley{
    padding-left: 5%;
    margin-left:5em;

}
.main-troley{

}
    .products tr th{
       color:green;
       border-spacing: 4em;
       border-collapse: collapse;
       
    }   
    .products tr td{
       color:yellow;

       
    }   
    .image{
        width: 15em;
       
    }
   

.image img {
    width: 15em;
    margin-bottom: 5em;
  

}
.description tbody tr td{
color:green;
}
.price{
    width: 10em;

}


