//z-index
$z-index-featured-image: 1000;
$z-index-slider-image: 1000;
$z-index-featured-elements: 1001;
$z-index-slider-elements: 1001;
$z-index-header: 5000;
$z-index-header-menu: 5000;
$z-index-overlay: 5001;
$z-index-spinner: 5002;

//typography- 
//*seek scales! verdana is very wide, arial relatively narrow.  The same goes for Times/Times New Roman(Narrow)& Georgia(wide).
//They are Websafe doesn't matter include both.


$font-stack-preferred:'Square Peg', cursive;
$font-stack-generic:'Akshar', sans-serif;




//colors
$primary-color:#cf2d2d;
$primary-color-light: hsl(240, 1%, 75%);
$secondary-color: hsl(183, 98%, 35%);
//$secondary-color-light:
//$text-primary-on-light:
//$text-hint-on-light:

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;


//shapes

//Iconography

