

.header-main{

}
    .header-main-title{

    }
        .header-main-menu{

        }
            .header-main-menu-elements ul li{
                cursor: pointer;
            }
.main-category{
    padding-left: 15%;
}

.products-gallery .up img{
margin-bottom: 1.5em;
margin-left: 1.2em;
width:20em;

}
.products-gallery .down img{
    margin-bottom: 1.5em;
margin-left: 1.2em;
width:20em;

}
.products-options{
    padding: 5%;

}
.products-options-counter{
    width: max-content;
    margin-right:auto;
    margin-bottom:4em;
}


.products-options-counter h4{
    
}
    

.products-options-filter{
    
}

    .main-category-elements{

    }
        .products-options{
            margin-bottom: 0.2rem;
            
            height: 0.1em;
        }
            .products-options-counter{

            }
            .products-options-filter{
                width: max-content;
                margin-left: auto;
            }
                .selectors{
                    
                   
                }
                
                .products-gallery .product  {
                margin-right: 4em;
                margin-top:0.2em;
                
                
                
                    
                }
               
            .products-gallery .product  h3{
                text-align: center;
                margin-bottom:1em;
               

                
                
            }
            
            .products-gallery .product .pick{
                
                margin-top:0.2em;
                width:10em;
                
                
          
            }
            .products-gallery .product .pick button{
                
                    background-color: rgb(228, 42, 42);
                    color:rgb(241, 235, 235);
                    cursor: pointer;
                    border-radius: 0.5rem;
                    box-shadow: 0.1rem 0.1rem 0.7rem 0.2rem #000000;
                    padding: 0.3rem 2rem;
                    width:13.5em;
                    margin-left: 1em;
                    margin-bottom: 2em;
                    
                    

            }
            .products-gallery .product .pick h3{
                
                margin-top: 0.5em;

            }
  

  

            
        








