h1{
    font-family: $font-stack-generic;
}

h2, h3, h4 {
    font-family: $font-stack-generic;
    
}

h5, h6 {
    font-family: $font-stack-generic;
}

a, td, th, p, button, span, label, select, input, textarea, li{
    font-family: $font-stack-generic;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;

    &:hover, &:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
    }
}
