.slider{
    position: relative;
}

.slider-image{
    width: 100%;
}

.slider-image img{
    width: 100%;
}

.slider-title{
    background-color: #0000007e;
    padding: 0.5rem 2rem;
    position: absolute;
    left: 37%;
    top: 30vh;
}

.slider-title h2{
    color: white;
}


.slider-button{
    position: absolute;
    left: 45%;
    top: 40vh;
}


.slider-button button{
    background-color: rgb(199, 81, 81);
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.8rem 0.2rem #000000;
    color:#f3efef
    //font-weight:600;
    //padding: 0.5rem 1rem;
}

.category{
    position:relative;
    

}

.category-title{
    text-align:center;
    color:rgb(199, 81, 81);
    background-color: #ecdddd;
    
    
}

.category-element{
}

.category-element-image img{
    position:relative;
    left:2rem;
    top:2rem;
    

}

.category-element-title{
    text-align:center;
    color:#e40505de
   
}

.bottom{
    position:relative;
    left:2rem;
    top:2rem;

}

.bottom-prologue{
    line-height : 30px;
    text-align: justify;
    font-size:25px;
}

.bottom-image{
 
 
}