.product{
    padding:7%;
}
.product-image img{
    max-width: 100%;
}

.product-info{

}

.product-info .product title h2{

}
.product-price {
margin-top: 1em;
}

.product-details{
    margin-bottom:1rem;
}

.plus-minus-button button{
    background-color: rgb(163, 189, 189);
}  

.product-add-to-cart-button{

    margin-right:10%;
}

.product-add-to-cart-button button{
    background-color: rgb(241, 100, 100);
    color:rgb(241, 235, 235);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.7rem 0.2rem #000000;
    padding: 0.3rem 2rem;
    margin-top: 4.5rem;
   
}
