.modal-container{
    position:fixed;
    z-index: -1; 
    width: 50%;
    top: 30%;
    left: 25%;
    opacity: 0;
    transition: 0.5s  all;

    &.modal-active{
        z-index: 9999;
        opacity: 1;
    }
}

.textbox-content{
    background-color: grey;
}

.textbox-text p{
   text-align: center;
}

.textbox-buttons{
    margin-top: 2em;
    display:flex;
    justify-content: space-around;
}

           