.main-faqs h3{
  margin-top:1.5em;

}

.tab{
   


}
.question span{
color:red;
 margin-top:4em;

}

.main-question{
  margin-top:2.5em;
}
.pointer svg{
 display:none;
}

.reply{
  margin-top:1em;
}
.header-main-title h3{
  margin-top:0.5em;
  
}
.header-mobile-menu-button- svg {
  display: block;
  position: relative;
  width: 3em;
  margin-left:6em;
  margin-top:1.5em;
}


  .hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: hsl(0deg, 0%, 90%);
    border-radius: 3px;
    z-index: 4;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;    
  
  }
  
 


.pointer svg{
 margin-left:15em;
}
.faqs{
  padding: 0 auto;
  text-align: center;
}
.main-question{
  color:red;
  opacity: 0.5;
}

