
.head-container{
    
  }
  .header-main{
    display:revert;
  }
  .header-main-title{
   font-family: 'akshar';
  
    padding: 1rem 2%;
    width: 20%;
    margin: left;
    width: 100%;
    size:1em;
   
   
   
  }

  .hamburger {
    display: block;
    position: relative;
    z-index: 4;
    margin-left: 6.5em;

    
  }
  
  .hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: hsl(0deg, 0%, 90%);
    border-radius: 3px;
    z-index: 4;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;    
  
  }
  .hamburger span:first-child {
    transform-origin: 0% 0%;
  }
  
  .hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  .hamburger.active span {
    opacity: 1;
    transform: rotate(45deg) translate(-18px, -20px);
    background: 0.232323;
  }
  
  .hamburger.active span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .hamburger.active span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 2px);
  }
  
  .hamburger input:checked ~ ul {
    transform: none;
  }
  
  
  .slider-image{
    width: 100%;
    margin-bottom:3em;
}
  
  
  .slider-title h3{
    background-color: #cacaca;
    border-radius: 8px;
    color: #242221;
    font-size: 1em;
    opacity: 70%;
    padding-top: 0.5rem;
    text-align: center;
    margin-top: -10em;
    position: absolute;
    margin-left: 2.5em;
  
  }
  
  .slider-button{

    width: 0 30%;
    color: rgb(245, 233, 230);
    text-align: center;
    border: none;
    border-radius: 1em;
    margin-top: -8em;
    cursor: pointer;
    padding: 1rem;
    

  }
  .slider-button button{
    border: none;
    border-radius: 8px;
    background-color: #e78224;
    color:white;
    cursor: pointer;
    padding: 0.5;
    // transition-duration: 0.4s;    
  }
  .slider .slider-button button:hover {
    background-color: #dfd8c3;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.3843137255), 0 18px 50px 0 rgba(255, 255, 255, 0.3843137255);
    color: hsl(0deg, 0%, 100%);
  }
  
  .category-title{
  
  
  }
  
  .category-element-image img{
      position: relative;
      margin-top: 3em;
      margin-left:3em;
      width: 70%;
  
  }
  
  .bottom-prologue{
   margin-top:2em;
   padding: 0 2em
  }
  
  .bottom-image{
    width: 50%;
    margin-left:4em;
  }