.main{
    display:revert;
    font-family: 'akshar';
    padding: 1rem 2%;
    width: 20%;
    margin: left;
    width: 100%;
    size:1em;
}
.header-main-title h3{
    
    
    color: #db4213;
    font-size: 1.5em;
   
    padding-top: 0.5rem;
    
    margin-top: 2emem;
}

    .product-title h2{
    padding-left: 1em;
    font-size: 1em;
    padding-top:0.5em;
}

span{
    padding-left: 1em;
    padding-top:0.5em;

}
.product-details p{
    padding-left: 1em;
    font-size: 0.5;

}
  
 

.product-image img{
    width: 55%;
}

.products-details{
  margin-top:2.5em;

}

.quantity-show {
  align-items: center;
  display: flex;
  

  .quantity-show title {
      color: hsl(0, 0%, 100%);
      font-weight: bold;
  }
}

// .trolley {
//   display: flex;
//   justify-content: center;

//   .add-to-cart-button {

//       button {
//           background: linear-gradient(to top, hsl(46, 100%, 30%), hsl(240, 9%, 23%));
//           border: 2px solid hsl(0, 0%, 50%);
//           border-radius: 10px;
//           color: hsl(0, 0%, 100%);
//           margin-top: 8%;
//           padding: 10%;
//           width: 100%;
//       }
//   }
// }