.cart {
    background: #FF6347;
  }
  .cart .cart-title {
    text-align: center;
  }
  .cart .cart-title h2 {
    padding: 2rem;
  }
  .cart .resume table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .cart .resume table tr {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
    text-align: center;
  }
  .cart .resume table tr td {
    padding: 0.5rem;
  }
  .cart .resume table tr td input {
    width: 10%;
  }
  .cart .resume table tr .amount {
    display: flex;
    width: 100%;
  }
  .cart .resume table tr .amount .less button {
    border: 1px solid #c4402f;
    border-radius: 4px;
    background-color: #CC4331;
    box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px -1px #af3a2a;
    font-weight: 800;
    font-size: 1rem;
    transition: all 0.15s ease-in-out;
  }
  .cart .resume table tr .amount .number {
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0rem 1rem 0rem 1rem;
  }
  .cart .resume table tr .amount .number .show {
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .cart .resume table tr .amount .more button {
    border: 1px solid #c4402f;
    border-radius: 4px;
    background-color: #CC4331;
    box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px -1px #af3a2a;
    font-weight: 800;
    font-size: 1rem;
    transition: all 0.15s ease-in-out;
  }
  .cart .resume table tr th {
    padding: 1rem;
  }
  .cart .resume table tr img {
    max-width: 100%;
  }
  .cart .resume table tr:first-child {
    border-bottom: 0.6rem solid white;
    width: max-content;
  }
  .cart .payment {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .cart .payment table {
    border: 1px solid white;
  }
  .cart .payment table tr {
    color: white;
  }
  .cart .payment table tr th {
    padding: 1rem 0rem 1rem 0rem;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 1.15rem;
  }
  .cart .payment table tr td {
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1.15rem;
  }
  .cart .payment table tr:last-child {
    border-top: 1px solid white;
  }
  .cart .payment .payment-buttons {
    width: 75%;
    display: flex;
    margin-top: 1rem;
    margin: auto;
    padding-bottom: 2rem;
  }
  .cart .payment .payment-buttons .back {
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .cart .payment .payment-buttons .back button {
    background: rgb(89, 171, 227);
    border-radius: 0.5rem;
    border: white 3px solid;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 2.5rem 1rem 2.5rem;
    transition: all 0.4s;
  }
  .cart .payment .payment-buttons .back button:hover {
    background: #FF9A33;
    transition: 0.2s all;
  }
  .cart .payment .payment-buttons .buy {
    margin-top: 1rem;
  }
  .cart .payment .payment-buttons .buy button {
    background: rgb(89, 171, 227);
    border-radius: 0.5rem;
    border: white 3px solid;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 2.5rem 1rem 2.5rem;
    transition: all 0.4s;
  }
  .cart .payment .payment-buttons .buy button:hover {
    background: #FF9A33;
    transition: 0.2s all;
  }